---
---

@import "{{ site.theme }}";

ul.categories-list > li:not(:last-child) {
   margin-bottom: 16px;
}

.post-content h1 {
   margin-top: 45px;
   margin-bottom: 7px;
}

.svg-icon {
   width: 32px;
   height: 32px;
   position: relative;
   left: 6px;
   bottom: 2px;
   padding-right: 0;
}

cite {
   display: none !important;
}

em small {
   display: block;
   text-align: right;
}

blockquote {
   letter-spacing: inherit !important;
   font-style: normal;
}

#mc_embed_signup {
    margin: 50px auto;
    background: #f2f2f2;
    padding: 5px 25px;
    width: auto !important;
}

mark {
    background: rgba(255, 208, 0, 0.4);
}

:has(>:target) {
    background: rgba(255,255,0,0.3);
}
