---
---

@import "{{ site.theme }}";

ul.categories-list > li:not(:last-child) {
   margin-bottom: 16px;
}

.post-content h1 {
   margin-top: 45px;
   margin-bottom: 7px;
}

.svg-icon {
   width: 32px;
   height: 32px;
   position: relative;
   left: 6px;
   bottom: 2px;
   padding-right: 0;
}

cite {
   display: none !important;
}

em small {
   display: block;
   text-align: right;
}

blockquote {
   letter-spacing: inherit !important;
   font-style: normal;
}

#mc_embed_signup {
    margin: 50px auto;
    background: #f2f2f2;
    padding: 5px 25px;
    width: auto !important;
}

mark {
    background: rgba(255, 208, 0, 0.4);
}

:has(>:target) {
    background: rgba(255,255,0,0.3);
}

body { position: relative; }
.wrapper { position: relative; } /* Feng shui */
.candles {
    position: absolute;
    opacity: 0.3;
}
.candles.top {
    top: 0;
    left: 0;
    right: 0;
}
.candles.bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
.candles img {
    display: block;
    margin: auto;
    width: 900px;
    opacity: 1;
}
.candles:after { 
    display: block;
    content: "";
    position: absolute;
    height: 40%;
    pointer-events: none;
}
.candles.top:after{
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 80%);
}
.candles.bottom:after{
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #fff 80%);
}